:root {
    --az-blue: #0d6efd;
    --az-indigo: #6610f2;
    --az-purple: #6f42c1;
    --az-pink: #d63384;
    --az-red: #dc3545;
    --az-orange: #fd7e14;
    --az-yellow: #ffc107;
    --az-green: #198754;
    --az-teal: #20c997;
    --az-cyan: #0dcaf0;
    --az-white: #fff;
    --az-gray: #6c757d;
    --az-gray-dark: #343a40;
    --az-primary: #0d6efd;
    --az-secondary: #6c757d;
    --az-success: #198754;
    --az-info: #0dcaf0;
    --az-warning: #ffc107;
    --az-danger: #dc3545;
    --az-light: #f8f9fa;
    --az-dark: #212529;
    --az-font-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --az-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    --az-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}